<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render "users/headers"%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <a href="/">Home</a>
      <a href="/description_templates">Templates</a>
      <a href="/presenters">Presenters</a>
      <a href="/youtube_sessions">Connect Youtube</a>
      <%= link_to " exit", destroy_user_session_path, method: :delete %>
    <% else %>
      <a href="users/sign_in"%>Sign In </a>
    <%end%>
    <%= yield %>
  </body>
</html>
